.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .content{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.landing .content h3{
  font-family: "League Spartan", sans-serif;
  letter-spacing: 4px;
}

.landing .content img{
  width: 250px;
}

body{
    overflow-x: hidden;
}

.navbar{
    padding: 20px 0;
    box-shadow: 0 1px 10px 0 #787878;
    background-color: #ffffff;
    opacity: 0.9;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .navbar.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .navbar.hide {
    opacity: 0;
    transform: translateY(-100%);
  }
  
  .navbar a img{
    width: 100px;
    height: auto;
    object-fit: contain;
    opacity: 1 !important;
  }
  
  .navbar .collapse ul li{
    font-family: "Lato", serif;
    padding: 0 5px;
  }

  .cover{
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }

  .cover .content-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cover .content-container .content{
    width: fit-content;
  }

  .cover .content-container .content img{
    width: 300px;
    padding: 30px 25px;
    border-radius: 10px;
    z-index: 4;
  }

  .cover .content-container .content p{
    font-family: "Lato", sans-serif;
    padding: 10px 20px;
    width: fit-content;
    margin: 5px auto 0 auto;
    background-color: #c80017;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 0 0 #8e8e8e;
  }

  .about-pt{
    padding: 80px 0 100px 0;
    position: relative;
  }

  .about-pt .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about-pt .content{
    width: 70%;
    position: relative;
  }

  .about-pt .content h2{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    margin: 0 0 15px 0;
    color: #c80017;
    position: relative;
    display: inline-block;
  }

  .about-pt .content .text p{
    font-family: "Open Sans", sans-serif;
    text-align: justify;
  }

  .about-us{
    box-shadow: 0 0 10px 0 #919191;
    z-index: 1;
    position: relative;
    background-image: url('../src/assets/image/bg/bg2.png');
    background-size: cover;
    padding: 70px 0;
  }

  .about-us::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8;
    top: 0;
    z-index: -1;
  }

  .about-us .title{
    text-align: center;
  }

  .about-us .title h2{
    font-family: "Lato", sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 0 auto 0 auto;
    padding: 20px 30px;
    position: relative;
    color: black;
    display: inline-block;
  }

  .about-us .title h2 span{
    color: #c80017;
  }

  .about-us .row{
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
  }

  .about-us .row .content-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .about-us .row .content-left .cover-image img{
    width: 400px;
    margin: 30px 0 0 0;
    text-align: start;
  }

  .about-us .row .content-left .title{
    color: #000000;
    width: 100%;
    text-align: start;
    background-color: #ffffff;
    transform: translate(170px, -80px);
    padding: 30px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: 4px 4px 0 0 #FBB342;
  }

  .about-us .row .content-left .title h4{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    position: relative;
    display: inline-block;
    color: #c80017;
    font-size: 28px;
  }

  .about-us .row .content-left .title h5{
    font-family: "Open Sans", sans-serif;
    margin: 5px 0 0 0;
    font-size: 20px;
    color: #454545;
    opacity: 0.9;
  }

  .about-us .row .content-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    position: relative;
    padding: 0;
  }

  .about-us .row .content-right .cover-image img{
    width: 400px;
    margin: 35px 0 0 0;
    text-align: end;
  }

  .about-us .row .content-right .title{
    color: #000000;
    width: 100%;
    text-align: end;
    background-color: #ffffff;
    transform: translate(-130px, -80px);
    padding: 25px;
    border-radius: 10px;
    width: fit-content;
    box-shadow: -4px 4px 0 0 #FBB342;
  }

  .about-us .row .content-right .title h4{
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
    color: #c80017;
    font-size: 28px;
  }

  .about-us .row .content-right .title h5{
    font-family: "Open Sans", sans-serif;
    margin: 7px 0 0 0 ;
    font-size: 20px;
    color: #454545;
    opacity: 0.9;
  }

  .brand {
    padding: 130px 0 180px 0;
    position: relative;
  }
  
  .brand .container .row{
    flex-direction: column;
    gap: 70px;
    align-items: center;
    justify-content: center;
  }
  
  .brand .container .row .title h2{
    font-family: "Lato", sans-serif;
    width: fit-content;
    margin: 0 auto;
    font-weight: 600;
    color: #ffffff;
    background-color: #c80017;
    border-radius: 10px;
    padding: 8px 20px;
    position: relative;
  }
  
  .brand .container .row .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    gap: 70px;
  }
  
  .brand .container .row .content a img{
    width: 200px;
  }

  footer{
    background-image: url("../src/assets/image/bg/bg2.png");
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding: 50px 0 0 0;
    color: white;
    position: relative;
  }

  footer::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    top: 0;
    left: 0;
  }

  footer .row {
    position: relative;
    z-index: 3;
    padding-bottom: 8px;
  }
  
  footer .row .col-lg-5 h2{
    font-family: "Lato", sans-serif;
    margin: 0 0 15px 0;
    font-weight: 600;
  }

  footer .row .col-lg-5 ul li{
    font-family: "Open Sans", sans-serif;
    padding: 5px 0;
  }

  footer .bottom p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 600;
    padding: 0 0 20px 0;
  }

  footer .bottom{
    position: relative;
    z-index: 3;
  }


  @media screen and (max-width: 1200px) {

  }

  @media screen and (max-width: 991px) {

    .about-pt{
      padding: 90px 0;
      background-position: 20% 70%;
    }

    .about-pt .container .content{
      width: 85%;
    }

    .about-us .row .content-left .cover-image img{
      width: 350px;
      margin: 0 0 0 -30px;
    }

    .about-us .row .content-left .title{
      transform: translate(100px, -80px);
      padding: 25px;
    }

    .about-us .row .content-right .cover-image img{
      width: 350px;
      margin: 0 0 0 -30px;
    }

    .about-us .row .content-right .title{
      transform: translate(-100px, -80px);
      padding: 25px;
    }

    .about-us .row .content-left .title h4{
      font-size: 26px;
    }
  
    .about-us .row .content-left .title h5{
      font-size: 18px;
    }

    .about-us .row .content-right .title h4{
      font-size: 26px;
    }

    .about-us .row .content-right .title h5{
      font-size: 18px;
    }
  }

  @media screen and (max-width: 768px) {
    .about-pt .container .content{
      width: 100%;
    }

    .about-pt{
      padding: 90px 0;
      background-position: 25% 80%;
    }

    .about-pt .content h2::before{
      display: none;
    }

    .about-us{
      height: fit-content;
      padding: 70px 0;
    }

    .about-us .title h2{
      font-size: 36px;
    }

    .about-us .row{
      flex-direction: row;
      gap: 20px 30px;
      margin: 0 -24px 0 0;
      justify-content: center;
    }

    .about-us .row .content-left{
      width: calc(50% - 15px);
    }

    .about-us .row .content-left .title{
      transform: translate(80px, -70px);
      padding: 25px;
    }

    .about-us .row .content-left .cover-image img{
      width: 280px;
    }

    .about-us .row .content-right .cover-image img{
      width: 280px;
    }

    .about-us .row .content-right{
      width: calc(50% - 15px);
      text-align: end;
    }

    .about-us .row .content-right .title{
      transform: translate(-80px, -70px);
      padding: 25px;
    }

    .about-us .row .content-left .title h4{
      font-size: 22px;
    }
  
    .about-us .row .content-left .title h5{
      font-size: 16px;
    }

    .about-us .row .content-right .title h4{
      font-size: 22px;
    }

    .about-us .row .content-right .title h5{
      font-size: 16px;
    }

    .brand {
      padding: 100px 0 150px 0;
      position: relative;
    }

    .brand .container .row{
      gap: 60px;
    }
  }

  @media screen and (max-width: 576px) {
    .cover .slider-container img {
      height: 140px;
    }

    .about-us .row .content-left{
      width: 100%;
    }
    .about-us .row .content-right{
      width: 100%;
    }

    .about-us .row .content-left .cover-image img{
      width: 75%;
    }

    .about-us .row .content-right .cover-image img{
      width: 75%;
    }

    .about-us .row .content-left .title h4{
      font-size: 24px;
    }

    .about-us .row .content-right .title h4{
      font-size: 24px;
    }

    .about-us .row .content-left .title{
      transform: translate(180px, -70px);
      padding: 25px;
    }

    .about-us .row .content-right .title{
      transform: translate(-150px, -70px);
      padding: 25px;
    }
    
    .brand::after{
      content: "";
      position: absolute;
      background-image: url('../src/assets/elemen/elemen1.png');
      width: 100px;
      height: 70px;
    }
  }

  @media screen and (max-width: 440px) {
    .about-us .row .content-left .title{
      transform: translate(130px, -70px);
      padding: 25px;
    }

    .about-us .row .content-right .title{
      transform: translate(-110px, -70px);
      padding: 25px;
    }
  }

  @media screen and (max-width: 380px) {
    .cover .content-container .content-center img{
      width: 250px;
    }

    .cover .content-container .content-center p{
      font-size: 16px;
    }

    .about-pt .container .content h2{
      font-size: 28px;
    }

    .about-pt .container .content .text p{
      font-size: 14px;
    }

    .about-us .row .content-left{
      width: 100%;
    }
    .about-us .row .content-right{
      width: 100%;
    }

    .about-us .row .content-left .title{
      transform: translate(80px, -70px);
      padding: 15px 20px;
    }

    .about-us .row .content-right .title{
      transform: translate(-50px, -70px);
      padding: 15px 20px;
    }

    .about-us .row .content-left .title h4{
      font-size: 20px;
    }

    .about-us .row .content-right .title h5{
      font-size: 14px;
    }

    .about-us .row .content-left .title h4{
      font-size: 20px;
    }

    .about-us .row .content-right .title h5{
      font-size: 14px;
    }

    .footer .container .text-center p{
      font-size: 11px;
    }
  }